body {
	background: lightgray;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(20, 1fr);
	grid-auto-rows: 30px;
}

.menu {
	font-family: monospace;
	text-transform: lowercase;
	letter-spacing: 2px;
	padding-right: 1em;
}

a {
	color: rgb(83, 83, 83);
	text-decoration: none;
}

a:hover {
	color:rgb(136, 122, 128);
}

.white {
	background-color: white;
}

